name: Test Self-Hosted Runner

on:
  push:
    paths:
      - "**/*.txt"   # <-- Trigger only when *.txt files change
  pull_request:

jobs:
  build:
    runs-on: self-hosted   # <-- IMPORTANT: this makes it use your runner
    steps:
      - uses: actions/checkout@v4
      - name: Print something
        run: echo "Self-hosted runner is working!"
      - name: Ensure venv exists
        run: |
          if [ ! -d "/tmp/runner/kasa-env" ]; then
            python3 -m venv /tmp/runner/kasa-env
          fi
      - name: Run command
        run: |
          source /tmp/runner/kasa-env/bin/activate
          pip install python-kasa
          kasa --host 192.168.127.197 toggle
